.wrapper {
  position: relative;
  z-index: 1;
}

.container {
  min-height: 100vh;
  position: relative;
  transform-style: preserve-3d;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; /* For smooth scrolling on iOS */
}

.sections {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.section {
  position: absolute;
  width: 100%;
  transform-style: preserve-3d;
}