/* custom cursor */
.customCursor {
  width: 20px;
  height: 20px;  
  background-color: black;
  border: none;
  border-radius: 50%;
  position: fixed;
  top: -10px;
  left: -10px;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
  backdrop-filter: invert(1);
  -webkit-backdrop-filter: invert(1);
  transform-origin: center;
  transition: width 0.2s ease-out, height 0.2s ease-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* custom cursor hover */
.hover {
  width: 30px;
  height: 30px;
  transition: width 0.2s ease-out, height 0.2s ease-out;
}

/* Hide default cursor */
* {
  cursor: none !important;
}