.loaderContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  transform: translateZ(0);
  isolation: isolate;
}

.loaderHidden {
  display: none;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100000;
}

.scribbleLoader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(1);
}

.scribblePath {
  stroke-dasharray: 800;
  stroke-dashoffset: 800;
  animation: drawPath 2s linear;
}

@keyframes drawPath {
  0% {
    stroke-dashoffset: 800;
  }
  100% {
    stroke-dashoffset: -800;
  }
}
