.navbar {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-color: black;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar a {
  color: white;
  text-decoration: none;
}